<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Juegos</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link rel="stylesheet"  href="../css/style.css">
	

</head>



<nav aria-label="...">
  <ul class="pager">
    <li class="previous"><a href="../index.html"><span aria-hidden="true">&larr;</span> Atrás</a></li>
    
  </ul>
</nav>



<body style="background-color: rgb(217, 249, 197);">
	
		


<div class="container">
    
    <div class="row">

     <div class="col-md-12 col-sm-12 col-xs-12">

        <header class="header">
         
         
            <img src="../img/logo_dvvcomputación.png"   alt="logo_dvvcomputación">
         
         <h1 class="header__titulo">  DVV COMPUTACIÓN </h1>

        </header>
   
   <h1 class="juegos">JUEGOS</h1><br><br>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <img src="../img/xbox.jpg" alt="xbox">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          JUEGOS XBOX ONE
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
       <p>Disfruta de más de 600 juegos para Xbox 360 y clásicos originales de Xbox en Xbox One. Determinados títulos se han mejorado para Xbox One X. Hemos aprovechado la potencia adicional de la consola para ofrecerte una mayor resolución, mejor filtrado de texturas y muchos más detalles de color. Disfruta de franquicias de juegos para todas las generaciones y de los títulos que tienes y que te encantan, sin costo adicional. En el caso de los juegos para Xbox 360, conserva los juegos guardados, complementos, logros y puntuaciones de juego. Y con Xbox Live Gold, disfruta de juegos multijugador con amigos con Xbox One y Xbox 360. Xbox One es el único lugar para disfrutar de los mejores juegos del pasado, presente y futuro</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <img src="../img/ps4.jpg" alt="ps4">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          JUEGOS PS4
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <p>Como miembro de PlayStation®Plus, siempre encontrarás las mejores ofertas en PlayStation™Store. Obtén descuentos exclusivos en los juegos más populares y el mejor contenido. PlayStation®Plus te permite acceder a 100 GB de almacenamiento online para que puedas cargar tus juegos guardados en la nube y transferirlos de una consola PS4™ a otra. Invita a tus amigos a jugar contigo a tus juegos preferidos de PS4™ a través de Share Play. Haz que formen un equipo, sean espectadores o tomen el control. Y todavía no sabes la mejor parte: no es necesario que tus amigos tengan los mismos juegos.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <img src="../img/pc.jpg" alt="pc">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          JUEGOS PC
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <p>Con casi 30 000 juegos publicados; desde grandes compañías hasta estudios independientes pasando por todo lo intermedio. Disfruta de ofertas exclusivas, actualizaciones automáticas y otras grandes ventajas. ¡Conoce nuevas personas, únete a grupos, forma clanes, chatea mientras juegas y mucho más! Con más de 100 millones de posibles amigos (o enemigos), la diversión nunca termina. Hemos creado el Steam Controller y la tecnología de RV que utiliza el HTC Vive para que jugar en PC sea aún mejor. Steamworks es un conjunto de herramientas y servicios que ayuda a desarrolladores y editores a sacar el máximo partido a la distribución de juegos en Steam.</p>
      </div>
    </div>
  </div>
</div>

<!--<br>
<br>
<br>
<br>
<div id="grad"> Disfruta de más de 600 juegos para Xbox 360 y clásicos originales de Xbox en Xbox One. Determinados títulos se han mejorado para Xbox One X. Hemos aprovechado la potencia adicional de la consola para ofrecerte una mayor resolución, mejor filtrado de texturas y muchos más detalles de color. Disfruta de franquicias de juegos para todas las generaciones y de los títulos que tienes y que te encantan, sin costo adicional. En el caso de los juegos para Xbox 360, conserva los juegos guardados, complementos, logros y puntuaciones de juego. Y con Xbox Live Gold, disfruta de juegos multijugador con amigos con Xbox One y Xbox 360. Xbox One es el único lugar para disfrutar de los mejores juegos del pasado, presente y futuro</div>

<br>
<br>
<br>
<div id="grad2">Como miembro de PlayStation®Plus, siempre encontrarás las mejores ofertas en PlayStation™Store. Obtén descuentos exclusivos en los juegos más populares y el mejor contenido. PlayStation®Plus te permite acceder a 100 GB de almacenamiento online para que puedas cargar tus juegos guardados en la nube y transferirlos de una consola PS4™ a otra. Invita a tus amigos a jugar contigo a tus juegos preferidos de PS4™ a través de Share Play. Haz que formen un equipo, sean espectadores o tomen el control. Y todavía no sabes la mejor parte: no es necesario que tus amigos tengan los mismos juegos
</div>
<br>
<br>
<br>

<section id="animacion">Con casi 30 000 juegos publicados; desde grandes compañías hasta estudios independientes pasando por todo lo intermedio. Disfruta de ofertas exclusivas, actualizaciones automáticas y otras grandes ventajas. ¡Conoce nuevas personas, únete a grupos, forma clanes, chatea mientras juegas y mucho más! Con más de 100 millones de posibles amigos (o enemigos), la diversión nunca termina. Hemos creado el Steam Controller y la tecnología de RV que utiliza el HTC Vive para que jugar en PC sea aún mejor. Steamworks es un conjunto de herramientas y servicios que ayuda a desarrolladores y editores a sacar el máximo partido a la distribución de juegos en Steam.</section>


-->


  <div style="margin-top:900px">
        

      © 2020 DVV - Todos los derechos reservados.


    </div>
   </div>

      </div>

        </div>
    
    

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
	
</body>
</html>