<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Pc Armadas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet"  href="../css/style.css">
    

 

</head>

 <nav aria-label="...">
  <ul class="pager">
    <li class="previous"><a href="../index.html"><span aria-hidden="true">&larr;</span> Atrás</a></li>
    
  </ul>
</nav>

<body style="background-color: rgb(244, 236, 247);">

	<div class="container">
    
		<div class="row">
	
		 <div class="col-md-12 col-sm-12 col-xs-12">

        <header class="header">
         
         
            <img src="../img/logo_dvvcomputación.png"   alt="logo_dvvcomputación">
         
         <h1 class="header__titulo">  DVV COMPUTACIÓN </h1>

        </header>

	 <div id="grid"> 

	 	
                  
                     <section id="productos4" class="border" ><h1>PC ARMADAS</h1></section>
        
         <section id="productos" class="border1"><h1>MULTIMEDIA</h1><br><br><br><br>

          <img src="../img/pc_multimedia.jpg"  alt="pc_multimedia">

         </section>
         <section id="productos2" class="border1"><h1>BASIC GAMER</h1><br><br><br><br>

        <img src="../img/basic_gamer.jpg"  alt="basic_gamer">

         </section>
         <section id="productos3" class="border1"><h1>ADVANCE GAMER</h1><br><br><br><br>

          <img src="../img/advance_gamer.jpg"  alt="advance_gamer">

         </section>
         <nav class="border"><br><h5>FILTRO</h5><br><br><br>
           <ul>
           <li><h4>MOTHERBOARD</h4></li><br><br>
           <li><h4>FUENTES</h4></li><br><br>
           <li><h4>MEMORIAS RAM</h4></li><br><br>
           <li><h4>MICROPROCESADOR</h4></li><br><br>
           <li><h4>DISCOS</h4></li><br><br>
           <li><h4>GABINETES</h4></li><br><br>


           </ul>

         </nav>
         <footer class="border">ACERCA DE DVV
          <br>
          <br>
          <a href="">¿Quienes somos?</a><br><br>
          © 2020 DVV - Todos los derechos reservados.
 

         </footer>

     </div>
     


  <div style="margin-top:900px">
        

      © 2020 DVV - Todos los derechos reservados.


    </div>

     </div>

      </div>

        </div>

        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</body>
</html>